body {
  background-color: #797392;
  font-family: 'Poppins', sans-serif;
  color: white;
}

h3 {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.disconnect {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  padding-bottom: 32px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.auto {
  display: flex;
  flex-direction: column;
}

.img {
  width: 120px;
  height: 120px;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px 32px;
}

.revenir {
  padding-top: 96px;
}